#cases {
  margin-bottom: 160px;
}

.cases-title {
  text-align: center;
  margin-bottom: 60px;
}

.cases-tile_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.cases-tile {
  width: 380px;
  min-height: 475px;
}

.cases-tile_large {
  width: 780px;
  min-height: 475px;
}

.cases-tile_img {
  width: 380px;
  min-height: 215px;
}

.image-block {
  background-image: url(../img/cases_img/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.cases-tile_large {
  background-image: url(../img/cases_img/imagebig.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.images-block {
  background-image: url(../img/cases_img/images.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.imagev-block {
  background-image: url(../img/cases_img/imagev.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-block {
  background-image: url(../img/cases_img/img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1280px) {
  .cases-tile {
    width: 100%;
    min-height: 475px;
  }
  .cases-tile_img {
    width: 100%;
  }
  .cases-tile_large {
  width: 100%;
}
}
