/* Секция экспертов */
#expert {
  position: relative;
  margin-bottom: 160px;
  min-height: 824px;
  background: #394047;
  margin-top: -200px;
  z-index: -1;
}

/* Контейнер для блока экспертов */
.expert-container {
  display: flex;
  justify-content: flex-end;
}

/* Блок контента экспертов */
.expert-block {
  width: 100%;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  margin-top: 340px;
}

/* Контент эксперта */
.expert-content {
  max-width: 480px;
  margin-bottom: 59px;
}

/* Заголовок в контенте эксперта */
.expert-content h2 {
  color: var(--white);
}

/* Блок промо-элементов эксперта */
.expert-promo_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Промо-блок эксперта */
.expert-promo {
  width: 580px;
  display: flex;
  justify-content: space-between;
}

/* Элемент промо эксперта */
.item-expert {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 268px;
  min-height: 120px;
}

/* Вертикальная линия в промо эксперта */
.vline-expert {
  min-width: 3px;
  height: 100%;
  background-color: var(--icons-1);
  /* background-image: url(../img/expert_img/vlineexpert.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left; */
}

/* Текст элемента промо эксперта */
.expert-item-text {
  width: 257px;
  height: 100px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  opacity: 0.7;
  line-height: 137%;
  color: var(--white);
}

/* Изображение Drupal в секции эксперта */
.drupal-expert_img {
  position: absolute;
  width: 927px;
  height: 820px;
  background-image: url(../img/expert_img/drupalsupport.svg);
  background-repeat: no-repeat;
  background-size: contain;
  right: 0;
  bottom: 0;
}

/* Изображение ноутбука в секции эксперта */
.laptop-expert_img {
  position: absolute;
  width: 660px;
  height: 588px;
  box-shadow: 0 4px 69px 0 rgba(16, 26, 58, 0.11);
  background-image: url(../img/expert_img/laptop.png);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -60px;
}

/* Основной текст элемента эксперта */
.expert-item_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  opacity: 0.7;
  line-height: 137%;
  color: var(--white);
}

/* Адаптивность: изменения для мобильных устройств */
@media (max-width: 1100px) {
  #expert {
    margin-top: -276px;
    min-height: 1330px;
  }

  .expert-container {
    display: flex;
    justify-content: center;
  }

  .expert-block {
    margin-top: 320px;
  }

  .expert-promo_block {
    gap: 20px;
  }

  .expert-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .laptop-expert_img {
    width: 370px;
    height: 346px;
    margin-bottom: -6px;
  }

  .drupal-expert_img {
    width: 370px;
    height: 400px;
    background-image: url(../img/expert_img/drupal-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    bottom: -40px;
  }
}
