/* Глобальные CSS-переменные: цвета, шрифты */
:root {
  --white: #fff;
  --main-black: #050c33;
  --gradient-card-gray: #fff;
  --icons-1: #f14d34;
  --icons-2: rgba(249, 224, 80, 0.5);
  --icons-3: rgba(249, 224, 80, 0.3);
  --icons-white-gr: #c4c4c4;

  --font-family: "Montserrat", sans-serif;
  --second-family: "Ubuntu", sans-serif;
}

*,
/* Сброс и базовые стили для всех элементов */
*::before,
*::after {
  /* Сброс и базовые стили для всех элементов */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* * {
  outline: 1px solid red;
} */

/* Обнуление отступов, фиксированная ширина и плавная прокрутка */
html,
/* Основные стили тела документа: шрифт, цвета фона и текста */
body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */ /* 🔥 Главное: убирает горизонтальный скролл */
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Основные стили тела документа: шрифт, цвета фона и текста */
body {
  font-family: var(--font-family);
  background: var(--white);
  color: var(--main-black);
}

/* Адаптивный стиль для мобильных: отступ снизу */
@media (max-width: 1100px) {
  /* Основные стили тела документа: шрифт, цвета фона и текста */
body {
    margin-bottom: 52px;
  }
}

/* Удаление маркеров списков */
li {
  list-style: none;
}

/* Стили ссылок: без подчеркивания, белый цвет */
a {
  text-decoration: none;
  color: var(--white);
}

/* Обнуление отступов у абзацев */
p {
  margin: 0;
}

/* Центрирование контейнера с максимальной шириной */
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; /* Добавить отступы! */
  box-sizing: border-box;
}

/* Базовый стиль кнопки: рамка, цвет, размер, выравнивание */
.button {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--icons-1);
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Эффект при наведении: заливка красным */
.button:hover {
  background: var(--icons-1);
}
