/* Секция партнеров */
#partners {
  margin-bottom: 160px;
}

/* Заголовок секции партнеров */
.partners-title {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

/* Описание под заголовком партнеров */
.partners-title p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  text-align: center;
  color: var(--main-black);
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 42px;
}

/* Блок с логотипами партнеров */
.partners-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
