/* #plans {
    position: relative;
} */
.fon-img {
  position: absolute;
  right: 0;
  z-index: -1;
}

.tarif {
  padding-top: 158px;
  text-align: center;
  margin-bottom: 60px;
}

.plans-tarif {
    display: flex;
    align-items: center;
}
.plans-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 390px;
  height: 619px;
  background: var(--white);
}

.plans-item_left {
    margin-right: -10px;
}
.plans-item_right {
    margin-left: -10px;
}

.plans-item_center {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 420px;
  height: 665px;
  box-shadow: 0 4px 60px 0 rgba(161, 161, 161, 0.25);
  background: var(--white);
  z-index: 1;
}

.plans-item_container {
    margin: 66px 61px 0 60px;
}

.prise-block {
    display: flex;
}

.plans-item_text li {
    list-style-image: url(../img/plans_img/checked.svg);

}

.plans-ps {
    width: 468px;
    margin: 0 auto;
    text-align: center;
    margin-top: 52px;
}

.plans-ps a {
font-weight: 500;
font-size: 16px;
line-height: 138%;
text-align: center;
opacity: 0.5;
}
.plans-taketarif {
    width: 290px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plans-taketarif a  {

font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-decoration: underline;
text-decoration-skip-ink: none;

}
