#reviews {
  margin-bottom: 160px;
}

.reviews-title {
  text-align: center;
  margin-bottom: 46px;
}

.reviews-block {
  display: flex;
  justify-content: center;
}

.reviews-slider_container {
  margin: 0 auto;
  max-width: 980px;
  min-height: 416px;
  display: flex;
  padding: 80px 80px 88px 128px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 4px 60px 0 rgba(161, 161, 161, 0.25);
  background: var(--white);
  gap: 60px;
}

.reviews-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews-logo {
  width: 100px;
  height: 50px;
  margin-bottom: 40px;
}

.reviews-title {
  margin-bottom: 119px;
}

.reviews {
  margin-bottom: 28px;
  background-size: contain;
}

.reviews-subtitle {
  font-size: 14px;
  color: #666;
}

.separator {
  width: 1px;
  min-height: 100%;
  background-color: #e0e0e0;
  /* margin-bottom: 20px; */
}

.reviews-arrow {
  display: flex;
  align-items: center;
}

.reviews-arrow_left,
.reviews-arrow_right {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reviews-arrow_left {
  background-image: url(../img/reviews_img/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.reviews-arrow_right {
  background-image: url(../img/reviews_img/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.reviews-arrow_left::before {
  transform: rotate(90deg);
  margin-right: 5px;
}

.reviews-arrow_right::after {
  transform: rotate(-90deg);
  margin-left: 5px;
}

.left-arrow_count,
.right-arrow_count {
  margin: 0 15px;
  font-size: 16px;
}
