#support {
  /* position: relative; */
  /* margin-bottom: 160px; */
}

.suport-container {
  /* max-width: 1184px;
  width: 90%;
  margin: 0 auto; */
  /* padding-bottom: 757px; */
}

.support-title {
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 72px;
  width: 406px;
  text-align: center;
}
.support-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.support-card {
  position: relative;
  border-radius: 5px;
  width: 292px;
  height: 292px;
  background: var(--white);
  box-shadow: 20px 20px 40px 0 rgba(5, 12, 51, 0.05);
}

.container-card {
  margin: 27px 34px 0 26px;
}

.card-num {
  font-weight: 700;
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 20px;
}
.card-title {
/*   font-weight: 700;
  font-size: 18px; */
  margin-bottom: 12px;
}
.card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  opacity: 0.7;
}
.card-img {
  position: absolute;
  right: 0;
  bottom: -4px;
}

@media (max-width: 1100px) {
  .support-card {
    width: 100%;
  }
}
